.item {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 20px;
}

.item_data {
  font-size: 30px;
}

.item_button {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}

.item_button:hover {
  cursor: pointer;
  outline-style: none;
  transform: scale(1.1);
  background-color: rgb(100, 231, 85);
}

.item_button:focus {
  outline-style: none;
  box-shadow: 0px 0px 10px -1px rgba(54, 103, 105, 0.7);
}
