.app_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #010101;
}

.title_phonebook {
  font-size: 50px;
  font-weight: 500;
  margin: 0px 0px 20px 0px;
}

.title_contacts {
  font-size: 40px;
  font-weight: 500;
  margin: 0px 0px 20px 0px;
}
